<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Comments | ActiveInsights'}) %>
    <link rel="stylesheet" href="/styles/post-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="wrap">
        <section id="top" class="post">
            <h2><%= comment.name %></h2>
            <h4><%= comment.date.toLocaleDateString() %></h4>
            <p><%= comment.content %></p>
        </section>
        <form method="POST" action="/comments/<%= comment._id %>?_method=DELETE">
            <input class="btn btn-secondary" id="btn" type="submit" value="Delete" />
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
