<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${post.name} | ActiveInisights`}) %>
    <link rel="stylesheet" href="/styles/post-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="wrap">
        <div class="post">
            <h2><%= post.name %></h2>
            <h4><%= post.postDate.toLocaleDateString() %></h4>
            <section>
                <p><%= post.content %></p>
            </section>
            <section class="actions">
                <button class="btn"><a href="/posts/<%= post._id %>/edit">Update</a></button>
                <button class="btn"><a href="/comments/new/<%= post._id %>">Comment</a></button>
                <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
                    <input class="btn" type="submit" value="Delete" />
                </form>
            </section>
        </div>    
        
        <% if (post.comments.length > 0) { %>
            <section >
                <ul class="comments">
                    <% for (let comment of post.comments) { %>
                    <li>
                        <p><%= comment.name %> - <%= comment.content %></p>
                    </li>
                    <% } %>
                </ul>
            </section>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
