<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${post.name} | ActiveInisights`}) %>
    <link rel="stylesheet" href="/styles/post-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div>
        <h2><%= post.name %></h2>
        <section>
            <p><%= post.content %></p>
        </section>
        <section class="actions">
            <button class="btn"><a href="/posts/<%= post._id %>/edit">Update</a></button>
            <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
        </section>
        
    </div>
    <% if (post.comments.length > 0) { %>
        <section class="reviews">
            <ul>
                <% for (let comment of post.comments) { %>
                <li>
                    <h4><%= comment.name %> - <%= comment.content %></h4>
                </li>
                <% } %>
            </ul>
        </section>
    <% } %>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
